PORT=3002
MONGODB_URI=mongodb://localhost:27017/auth-service
NODE_ENV=development
SECRET_KEY=ourverysecretkey
JWT_SECRET=yoursecretjwt
JWT_EXPIRES_IN=15m

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:3002/api/auth/google/callback

EMAIL_SERVICE_PROVIDER=gmail
EMAIL_ADRESS=youremail@gmail.com
EMAIL_PASSWORD=thegeneratedpassword